.idea
/terraform/.terraform.lock.hcl
/terraform/terraform.tfstate
/terraform/.terraform/
/ansible/inventory/hosts.ini
/k8s/.terraform/
/k8s/.terraform.lock.hcl
/k8s/terraform.tfstate
/k8s/terraform.tfstate.backup
